DB_DATABASE_TYPE=mysql
DB_SERVER=127.0.0.1
DB_PORT=3306
DB_DATABASE_NAME=
DB_USERNAME=
DB_PASSWORD=

ROOT=".."
WWW=${ROOT}/www
STATIC_DATA=${DATA}/static_data
TEMPLATES=${DATA}/templates/
VIEWS=./views

ASSETS=/assets
CSS=${ASSETS}/css

CACHE_FILE=${STATIC_DATA}/route.cache
CACHE_DISABLED=true